img {
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  user-select: none;
}

.Button--round {
  border-radius: 999em;
}

.Button--ios {
  transition: background-color 600ms cubic-bezier(.36, .66, .04, 1);
  transition: background-color 600ms var(--ios-easing);
}

.Button--android {
  transition: background-color 300ms cubic-bezier(.4, 0, .2, 1);
  transition: background-color 300ms var(--android-easing);
}

.Button[disabled] {
  opacity: 1;
  background-color: var(--app-blue);
}

.Button.Button--green {
  background-color: var(--app-green);
}

.Button.Button--red {
  background-color: var(--app-red);
}

.Button.Button--blue {
  color: var(--app-primary);
  background-color: var(--app-black);
}

.Tappable--android .Tappable__waves {
  border-radius: inherit;
  will-change: transform;
}

.Header,
.Div {
  user-select: none;
}

.ModalPage__in {
  width: 482px;
}

.ModalPage .ModalPage__in {
  padding-top: 26px;
}

.ModalRoot__mask {
  opacity: 1;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: opacity;
}

.ModalPage__in-wrap {
  z-index: 1;
  backface-visibility: hidden;
  will-change: transform;
}

.ModalPage__header {
  pointer-events: none;
}

.ModalPageHeader__shadow {
  display: none;
}

.ModalPageHeader__content {
  left: calc(50% - 18px);
  width: 36px;
  top: 6px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--text_secondary);
}

.ModalPageHeader__content,
.ModalPageHeader--ios .ModalPageHeader__content,
.ModalPageHeader--android .ModalPageHeader__content {
  position: absolute;
}

.View__popout:empty,
.View__modal:empty {
  display: none;
}

.Spinner {
  margin: auto;
}

.PanelHeader--android .PanelHeader__content,
.PanelHeader--ios .PanelHeader__content {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.01em;
}

.SimpleCell__children {
  font-weight: 500;
}
