img {
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  user-select: none;
}

.Button--round {
  border-radius: 999em;
}

.Button--ios {
  transition: background-color 600ms cubic-bezier(.36, .66, .04, 1);
  transition: background-color 600ms var(--ios-easing);
}

.Button--android {
  transition: background-color 300ms cubic-bezier(.4, 0, .2, 1);
  transition: background-color 300ms var(--android-easing);
}

.Button--str + .Button--str {
  margin-left: 8px;
}

.Button--sz-xl .Button__content {
  font-weight: 600;
  white-space: nowrap;
}

.Tappable--android .Tappable__waves {
  border-radius: inherit;
  will-change: transform;
}

.Tappable--ios.Tappable--active:not([disabled]):not(.TabsItem):not(.PanelHeaderButton):not(.Button):not(.PanelHeaderContent__in):not(.ActionSheetItem):not(.Banner__in) {
  background: rgba(215, 216, 217, 0.4) !important;
}

.Tappable:not([disabled]) {
  cursor: pointer;
}

.Header,
.Div {
  user-select: none;
}

.ModalPage .ModalPage__in {
  padding-top: 16px;
}

.ModalPage .ModalPage__content  {
  padding-top: 10px;
}

.ModalRoot__mask {
  opacity: 1;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: opacity;
}

.ModalPage__in-wrap {
  z-index: 1;
  backface-visibility: hidden;
  will-change: transform;
}

.ModalPage__header {
  pointer-events: none;
}

.ModalPageHeader__shadow {
  display: none;
}

.ModalPageHeader__content {
  left: calc(50% - 18px);
  width: 36px;
  top: 6px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--text_secondary);
}

.ModalPageHeader__content,
.ModalPageHeader--ios .ModalPageHeader__content,
.ModalPageHeader--android .ModalPageHeader__content {
  position: absolute;
}

.View__popout:empty,
.View__modal:empty {
  display: none;
}

.Spinner {
  margin: auto;
}

.PanelHeader--android .PanelHeader__content,
.PanelHeader--ios .PanelHeader__content {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.01em;
}

.SimpleCell__children {
  font-weight: 500;
}

.Tabs--buttons .Tabs__in {
  margin: 0 -8px;
}

.FormLayout--ios .FormLayout__row .FormField,
.FormLayout--ios .FormLayout__row .Button,
.FormLayout--ios .FormLayout__row .FormStatus,
.FormLayout--android .FormLayout__row .FormField,
.FormLayout--android .FormLayout__row .Button,
.FormLayout--android .FormLayout__row .FormStatus {
  margin: 0;
}

.FormLayout {
  margin-top: -12px;
}

html,
body,
.scrollable,
.ModalPage__content {
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: contain;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar,
.ModalPage__content::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
  background: transparent;
}
