@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=block');

:root,
body[scheme] {
  --font-common: 'Montserrat', 'Avenir Black', 'Verdana', 'Century Gothic', 'Arial Black', monospace, monospace;
  --font-ios: 'Montserrat', 'Avenir Black', 'Verdana', 'Century Gothic', 'Arial Black', monospace, monospace;
  --font-android: 'Montserrat', 'Avenir Black', 'Verdana', 'Century Gothic', 'Arial Black', monospace, monospace;
  --font-tt: 'Montserrat', 'Avenir Black', 'Verdana', 'Century Gothic', 'Arial Black', monospace, monospace;
}

html {
  -ms-touch-action: pan-x pan-y;
  touch-action: pan-x pan-y;
}

html, body, div#root {
  font-family: 'Montserrat', 'Avenir Black', 'Verdana', 'Century Gothic', 'Arial Black', monospace, monospace;
}

html,
body,
div,
section,
h1,
h2,
h3,
h4,
button,
span {
  font-weight: 700;
}

html, body, .scrollable {
  -webkit-overflow-scrolling: touch;
  -ms-scroll-chaining: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior: contain;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
  background: transparent;
}

@import './animations.css';
@import './offline.css';
@import './patch.css';
